<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DO ZROBIENIA</title>
</head>
<body>
    <h1>DO ZROBIENIA</h1>

    <form action="">
        <div>
            <label for="title">Zadanie do wykonania</label>
            <input type="text" name="title" placeholder="Wpisz tytuł">

            <label for="desc">Opis zadania</label>
            <textarea name="descript" rows="4" cols="50"></textarea>
            <button type="submit">Dodaj</button>
        </div>
    </form>

    {% for task in todo_list %}
        <p> {{task.id}} | {{task.title}} <br> {{task.description}} </p>

        {% if task.complete == False %}
            <span>DO ZROBIENIA</span>
        {% else %}
            <span>ZROBIONE</span>
        {% endif %}
    {% endfor %}



</body>
</html>