<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>DO ZROBIENIA</title>
</head>
<body>


    <div id="header">
    <h1 id="green">DO</h1> <h1 id="white">ZROBIENIA</h1>
    </div>
    <form action="/add" method="post">
        <div>
            <label for="title">Zadanie do wykonania</label> <br>
            <input id="wpisz_tytul " type="text" name="title" placeholder="Wpisz tytuł">
        <div>
            <label id="wpisz_opis" for="descript">Opis zadania</label> <br>
            <textarea name="descript" rows="4" cols="50" placeholder="Opis zadania..."></textarea>
        </div>
            <button id="button_dodaj" type="submit">Dodaj</button>
        </div>
    </form>

    <div id="content">
    {% for task in todo_list %}
        <h3>{{task.id}}. {{task.title}} </h3>
        <hr>
        <p> {{task.description}}</p>
    </div>


        {% if task.complete == False %}
            <span id="niegotowe">Do zrobienia</span>
        {% else %}
            <span id="gotowe">Zrobione</span>
        {% endif %}

        <a id="status" href="/update/{{task.id}}">Zmień status</a>
        <a id ="delete" href="/delete/{{task.id}}">Skasuj</a>


    {% endfor %}

</body>
</html>